/* GLOBAL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

:root {
    /* color palette */
    --bg-sidebar: #000;
    --bg-footer: #282828;
    --bg-cta: rgba(0,0,0,0.4);
    --bg-content: #141922;

    --section-title: white;
    --item-title: white;
    --item-subtitle: #7D7F84;
    --categories-text: #7D7F84;

    --text-white: white;
    --text-gray: #A3A3A3;

    --btn-cta: white;

    --progressive-bar-primary: #C1C1C1;
    --progressive-bar-secondary: #ADFF2F;
    --slider-color: #5A5A5A;
    --bar-cursor: white;

    --border-green : #ADFF2F;
}

/* DEBUG */



/* UTILITY */

/* flex utilities */
.flexed {
    display: flex;
}
.wrapped {
    flex-wrap: wrap;
}
.justified-sb {
    justify-content: space-between;
}
.aligned-c{
    align-items: center;
}
.flex-grow {
    flex-grow: 1;
}
.flex-shrink {
    flex-shrink: 2;
}
.direction-col {
    flex-direction: column;
}

/* overflow utilites */
.overflow-scroll {
    overflow-y: auto;
}
.overflow-hidden {
    overflow-y: hidden;
}

/* position utilities */
.position-fix {
    position: fixed;
}
.position-rel {
    position: relative;
}
.position-abs {
    position: absolute;
}

/* text utilities */
.center-text {
    text-align: center;
}
.text-white {
    color: var(--text-white);
}
.text-gray {
    color: var(--text-gray);
}
/* display utilities */
.hidden {
    display: none;
}
/* spacing utilities */
.mg-b-10 {
    margin-bottom: 10px;
}
.pad-t-5 {
    padding-top: 5px;
}
.pad-l-20 {
    padding-left: 20px;
}

/* UTILITY END */

/* STYLE */

/* tags */
ul {
    list-style: none;
}
ul a {
    text-decoration: none;
}
main {
    height: calc(100vh - 90px);
}
section > p {
    font-size: 0.8rem;
}

/* sidebar */
.sidebar {
    height: calc(100vh - 90px);
    flex-shrink: 0;
    background-color: var(--bg-sidebar);
    min-height: 200px;
}

.menu.top{
    height: calc(100% - 80px);
    min-height: 200px;
}
.menu.bottom{
    height: 80px;
    padding: 5px 0;
}
.logo {
    margin-bottom: 10px;
}
.sidebar li {
    margin-bottom: 10px;
}

.icon {
    width: 25px;
    height: 25px;
}

.sidebar .download-app .icon {
    width: 15px;
    height: 15px;
}
.sidebar .user .icon {
    background-color: #808080;
    border-radius: 50%;
}

/* content */
.content {
    width: calc(100% - 50px);
    background-color: var(--bg-content);
    padding: 1.25rem;
}
    /* call to action */
.cta {
    top: 0;
    right: 0;
    height: 90px;
    background-color: var(--bg-cta);
    z-index: 9;
    overflow: auto;
}

.cta .btn {
    position: absolute;
    right: 0;
    display: inline-block;
    text-align: right;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 0.5rem 2rem;
    margin: 1.5rem;
    color: var(--text-white);
    border: 2px solid var(--btn-cta);
    border-radius: 2rem;
    text-decoration: none;
    text-transform: uppercase;
}
.cta .btn:hover {
    transform: scale(1.1);
}
    /* categories */
.categories {
    margin-top: 75px;
    text-align: center;
    line-height: 2rem;
    font-size: 0.9rem;
    font-weight: 700;
}
.categories a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--categories-text);
    text-decoration: none;
    margin: 0 1rem 1.5rem 0
}
.categories a:hover {
    color: var(--text-white);
}
.categories a:hover::after {
content: '';
position: absolute;
bottom: 0;
left: 25%;
right: 25%;
border-bottom: var(--border-green) 2px solid;
}
    /* items */
.item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    align-self: flex-start;
}
.item .cover-box{
    position: relative;
    margin: 1rem 0;
}
.item img {
    width: 100%;
    display: block;
}
.item .circled {
    border-radius: 50%;
    overflow: hidden;
}
.item:hover .cover-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}
.item:hover .cover-box::after {
    content: '\f144';
    font-family: "Font Awesome 6 free";
    font-size: 2.5rem;
    color: var(--text-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
    color: var(--section-title);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
h3 {
    color: var(--item-title);
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.2rem;
    
}
h4 {
    color: var(--item-subtitle);
    font-size: 0.75rem;
}

/* footer */
#player {
    height: 90px;
    background-color: var(--bg-footer);
    padding: 0px 0.5rem;
}
#player a{
    color: var(--text-white);
    text-decoration: none;
}
#player i{
    font-size: 0.9rem;
}
    /* slider */
.bar {
    height: 5px;
    border-radius: 2.5px;
}
#player .slider.bar { 
    display: inline-block;
    background-color: var(--slider-color);
}
.slider .progress.bar {
    background-color: var(--progressive-bar-primary);
    top: 0;
    left: 0;
}
.slider:hover .progress.bar {
    background-color: var(--progressive-bar-secondary);
}
.slider:hover .cursor {
    display: block;
}
.progress.bar .cursor {
    background-color: var(--bar-cursor);
    top: 0;
    right: 0;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    transform: translate(50%, -3px);
}
    /* slider end */

    /* left side */
#player .left ,#player .right {
    width: 220px;
    min-width: 150px;
}
#player .left .cover {
    width: 20%;
    min-width: 50px;
}
#player .left img {
    width: 100%;
}
#player .left .title{
    margin-left: 0.25rem;
    width: 45%;
}
#player h3 {
    font-size: 0.9rem;
}
#player h4 {
    font-size: 0.6rem;
}
#player .left h4:hover{
    color: var(--text-white);
    text-decoration: underline;
}
#player .left .btns {
    width: 25%;
}
#player .left .btns a {
    margin: 0.25rem;
    color: var(--text-gray);
}
#player .left .btns a:hover {
    color: var(--text-white) ;
}
    /* center  */
#player .center{ 
    min-width: 250px;
    margin: 0 0.5rem;
}
#player .top{
    margin: 0 auto;
    padding-bottom: 0.5rem;
    width: 250px;
}
#player .play-button{
    font-size: 2rem;
}
#player .play-button:hover{
    transform: scale(1.1);
}
#player .bottom {
    min-width: 250px;
    max-width: 50%;
    margin: 0 auto;
}
#player .bottom span {
    font-size: 0.6rem;
    margin: 0 0.3rem;
}
#time-line .progress {
    width: 25%;
}
    /* right side */
#player .right > * {
    width: 15%;
}
#player .right .volume {
    min-width: 80px;
}
#player .right .slider {
    width: 70%;
    vertical-align: middle;
}
#volume-bar .progress {
    width: 80%;
}



/* only mobile view rules */
.sidebar {
    text-align: center;
    width: 50px;
}
.logo img {
    height: 25px;
}

.cta {
    width: calc(100% - 50px);
}

.item {
    width: calc(50% - 1rem);
}

body .s-view {
    display: none;
}

#current-track {
    max-width: 60%;
}

footer {
    overflow-x: auto;
}

/* RESPONSIVE*/

/* s view */
@media screen and (min-width: 576px) {
    
    body .s-view {
        display: inline-block;
    }

    .sidebar {
        width: 230px;
        text-align: left;
        padding: 5px 0;
    }
    .sidebar .menu {
        font-size: 0.8rem;
        font-weight: 500;
    }
    .sidebar .menu.top{
        display: flex;
        flex-direction: column;
    }
    .sidebar .menu.bottom {
        margin: 0 20px;
    }
    .sidebar .menu li * {
        vertical-align: middle;
    }
    .sidebar a {
        color: var(--text-gray);
        font-weight: 500;
    }
    .sidebar li a:hover {
        color: var(--text-white);
    }
    .sidebar a:hover .fa-icon.text-gray{
        color: var(--text-white);
    }
    .sidebar .logo img {
        height: 40px;
        margin: 15px 0;
    }
    .sidebar .playlist {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    .sidebar .download-app {
        border-bottom: gray solid 1px;
        padding-bottom: 10px;
    }
    .sidebar .user .icon {
        margin-right: 10px;
    }
    .sidebar .l-green-bar {
        padding: 0 20px;
    }
    .sidebar .l-green-bar:hover {
        padding-left: 18px;
        border-left: 2px solid var(--border-green);
    }
    
    .sidebar .playlist .title {
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    .sidebar .playlist .fa-icon {
        font-size: 2rem;
        font-weight: 800;
        margin-right: 5px;
    }
    .sidebar .playlist span {
        font-size: 0.9rem;
    }
    .cta {
        width: calc(100% - 230px);
    }
    
    .xs-view {
        display: none;
    }

}


/* md view */
@media screen and (min-width: 768px) {
    .item {
        width: calc(25% - 1rem);
    }
}

/* lg view */
@media screen and (min-width: 992px) {
    .item {
        width: calc(100% / 6 - 1rem);
    }
}


